@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

.container {
    width: 60%;
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
    h2 {
        
    }
}