@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

.container {
    display: flex;
    width: 60%;
    justify-content: space-around;
    margin: 5rem auto 0rem auto;

    .player-1-area {
        h1 {
            margin-bottom: 2rem;
        }
    }

    .player-2-area {
        h1 {
            margin-bottom: 2rem;
        }
    }
}

.bottom-area {
    width: 20%;
    margin: 0 auto;
    text-align: center;
    margin-top: 5rem;

    h2 {
        margin-bottom: 2rem;
    }

    button {
        background-color: #007BFF;
        border: 1px solid white;
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
        color: white;
        transition: color 0.5s, background-color 0.5s;

    }

    .active {
        &:hover {
            cursor: pointer;
            color: #007BFF;
            background-color: #fff;
            border: 1px solid #007BFF;
        }
    }

    .disabled {
        background-color: grey;

        &:hover {
            cursor: pointer;
        }
    }
}